@model UnipiForum.Areas.Admin.ViewModels.GTG

<h1>Group @Model.Group.group_id with Diff @Model.Group.diff_id</h1>

<table class="table table-striped">
    <thead>
    <tr>
        <th>User Name</th>
        <th>University ID</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.Group.users)
    {
        <tr>
            <td>@user.username</td>
            <td>@user.user_university_id</td>
        </tr>
    }
    </tbody>
</table>

