

<script type="text/javascript" src="~/Scripts/Index.js"></script>
@Html.Hidden("FileUploadUrl", Url.Action("UploadFiles", "UploadFile"))
<table>
    <tr>
        <td>
            <div id="uploadMsg"></div>
        </td>
    </tr>
    <tr>
        <td>
            <div>File One: </div>
            <div>
                <input type="file" id="fileOne" name="files[0]" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>File Two: </div>
            <div>
                <input type="file" id="fileTwo" name="files[1]" />
            </div>
        </td>
    </tr>
    <tr>
        <td>
            @*<button type="button" id="btnUpload">UPLOAD FILES</button>*@
            <input type="submit" id="btnUpload" value="UPLOAD FILES" class="btn btn-primary" />
        </td>
    </tr>
</table>
