@using UnipiForum.Models


<div class="container">
    <header>
        @if (User.Identity.IsAuthenticated)
        {
            <h3>Welcome back, @User.Identity.Name</h3>
            using (var context = new unipiforumSQLEntities2())
            {
                if ((User.IsInRole("") || User.IsInRole("student")) && (context.users.FirstOrDefault(p => p.username == User.Identity.Name).group_id == null))
                {
                    <p> Do a test for the first time! With this we will able to put you with students with the same level with you! <a href="@Url.RouteUrl("usertests",new{type_id=0})">Do your first test!</a></p>
                }
                else if ((User.IsInRole("") || User.IsInRole("student")) && (context.users.FirstOrDefault(p => p.username == User.Identity.Name).group_id != null))
                {
                    var groupID = context.users.FirstOrDefault(p => p.username == User.Identity.Name).group_id;
                    var DiffID = context.groups.FirstOrDefault(p => p.group_id == groupID).diff_id;
                    if ((User.IsInRole("") || User.IsInRole("student")) && (DiffID == 3))
                    {
                        <p>Now you are able to see the final Project!<a href="@Url.RouteUrl("projectpage")"> Go to final project page!</a></p>
                    }
                }
            }

        }

    </header>
    <br />
    <br />
</div>
<div class="panel-body">
    <p>This Web Application was created to support collaborative learning. It is implemented with the ASP.NET MVC framework in C# with SQL database. Its main purpose is to simplify the communication of the students and the teacher, the collaboration of the student in teams with the help of live chat, the examination with tests or project that teacher rates. Teacher can manage the users by giving them roles (student, admin), she can examine the students' test results and chat with every group created in the system.</p>
</div>




