@model UnipiForum.Areas.Admin.ViewModels.TestsIndex

<h1>Tests</h1>

<div class="btn-toolbar">
    <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Create a Test</a>
</div>


