@model UnipiForum.ViewModels.AuthLogin


@{
    ViewBag.Title = "Posts";
}

@using (Html.BeginForm())


<form method="post">
    <input type="text" name="Username" />
    <input type="password" name="Password" />
    <input type="submit" name="Login" />
</form>
