
@{
    Layout = null;
}



<!DOCTYPE html>
<html>   
<head>
    <title>title</title>
</head>
<body>
<header>
    @Html.ActionLink("UNIPI FORUM","About","Home") 
    
    <a href="@Url.RouteUrl("Home" )">About us</a>
    
    <a href="@Url.RouteUrl("login")">Login</a>
</header>

@RenderBody()

</body>
</html>
